<% include adminloginheader %>

<% include adminloginsidebar %>

  <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
     <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-laptop"></i>User info</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-laptop"></i>User info</li>  
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
         <section class="panel">
              <header class="panel-heading">
                  User Details
              </header>
             <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Full name</th>
                      <td><%= user.fullname %></td>
                    </tr>
                     <tr>
                      <th>Username</th>
                      <td><%= user.username %></td>
                    </tr>
                     <tr>
                      <th>Gender</th>
                      <td><%= user.gender %></td>
                    </tr>
                     <tr>
                      <th>Country</th>
                      <td><%= user.country %></td>
                    </tr>
                  </tbody>
                </table>
                </section>
        </div>
        <div class="col-md-6">
         <section class="panel">
              <header class="panel-heading">
                   Contact Details
              </header>
          <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Email Address</th>
                      <td><%= user.email %></td>
                    </tr>
                     <tr>
                      <th>Phone number 1</th>
                      <td><%= user.contact %></td>
                    </tr>
                     <tr>
                      <th>Phone number 1</th>
                      <td><%= user.contact2 %></td>
                    </tr>
                  </tbody>
                </table>
                </section>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
         <section class="panel">
              <header class="panel-heading">
                   Bank Details
              </header>
            <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Bank name</th>
                      <td><%= user.bank %></td>
                    </tr>
                     <tr>
                      <th>Account name</th>
                      <td><%= user.accountname %></td>
                    </tr>
                     <tr>
                      <th>account number</th>
                      <td><%= user.accountnum %></td>
                    </tr>
                  </tbody>
                </table>
                </section>
      </div>

       <div class="col-md-6">
         <section class="panel">
              <header class="panel-heading">
                   Other Details
              </header>
            <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Stock</th>
                      <td class="
                         <% if (status == 'Confirm'){ %>
                            text-success
                          <% } else { %>
                            text-danger
                           <% } %>
                      "><%= stock %></td>
                    </tr>
                     <tr>
                      <th>Refferals</th>
                      <td><%= user.refferals.length %></td>
                    </tr>
                     <tr>
                      <th>Percentage gain</th>
                      <td><%= user.refferals.length * 0.5%>%</td>
                    </tr>
                  </tbody>
                </table>
                </section>
      </div>
      </div>

      <div class="row">
         <div class="col-md-10 portlets">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-left">Private message</div>
                </div>
                <div class="panel-body">
                  <div class="padd">
                    
                      <div class="form quick-post">
                                      <!-- Edit profile form (not working)-->
                        <form class="form-horizontal">
                            <!-- Title -->
                            <div class="form-group">
                              <label class="control-label col-lg-2" for="title">Title</label>
                              <div class="col-lg-10"> 
                                <input type="text" class="form-control" id="title">
                              </div>
                            </div>   
                            <!-- Content -->
                            <div class="form-group">
                              <label class="control-label col-lg-2" for="content">Content</label>
                              <div class="col-lg-10">
                                <textarea class="form-control" id="content"></textarea>
                              </div>
                            </div>                                     
                            <!-- Buttons -->
                      <div class="form-group">
                                             <!-- Buttons -->
                       <div class="col-lg-offset-2 col-lg-9">
                        <button type="submit" class="btn btn-danger">Save Draft</button>
                       </div>
                      </div>
                  </form>
                </div>


                  </div>
      </div>
      
      </section>
      </section>
    
<% include adminloginfooter %>