<% include loginheader %>


<% include loginsidebar %>

  <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
		 <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-user"></i>Profile</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-user"></i>Profile</li>	
					</ol>
				</div>
			</div>
 <% if (infos == ""){ %>
  	<div></div>
    <% } else { %>
   		<div role="alert" class="alert alert-success"><%= infos %></div>
     <% } %>
      <% if (errors == ""){ %>
  	<div></div>
    <% } else { %>
   		<div role="alert" class="alert alert-warning"><%= errors %></div>
     <% } %>
				<div class="row">
                  <div class="col-lg-8">
                      <section class="panel">
                          <header style="font-size: 20px" class="panel-heading">
                              User Details
                          </header>
                          <div class="panel-body">
                          			<form action="/user/edit/profile/detials" method="POST">
									<fieldset>
										<div class="form-group">
											<label>Username</label>
											<span class="form-control"><%= user.username %></span>
										</div>
										<div class="form-group">
											<label>Full Name</label>
											<input class="form-control" placeholder="Enter your full name" name="fullname" value="<%= user.fullname %>" type="text">
										</div>
										<div class="form-group">
											<label>Country</label>
											<input class="form-control" placeholder="Enter your country" name="country" value="<%= user.country %>" type="text">
										</div>
										<div class="form-group">
											<label>Phone Number-1</label>
											<input class="form-control" placeholder="Enter your phone number" name="contact" value="<%= user.contact %>" type="text">
										</div>
										<div class="form-group">
											<label>Phone Number-2</label>
											<input class="form-control" placeholder="Enter your phone number" name="contact2" value="<%= user.contact2 %>" type="text">
										</div>
										 <div class="form-group">
		                                    <button type="submit" class="btn btn-primary form-control">Update</button>
		                                </div>
									</fieldset>
								</form>
                          </div>
                      </section>
                  </div>

                 <div class="col-lg-4">
                      <section class="panel">
                          <header class="panel-heading">
                              Profile photo
                          </header>
                          <div class="panel-body text-center">
                            <img style="width: 150px;" src="/images/logo.png" alt="Team" class="img-circle">
							
				            <br><br>
				             <button type="submit" class="btn btn-success form-control">Select photo</button>
				             <br><br>
				             <button type="submit" class="btn btn-primary form-control">Upload</button>
                          </div>
                      </section>
                  </div>
               </div><!--/.row-->

               <div class="row">
                  <div class="col-lg-6">
                      <section class="panel">
                          <header  style="font-size: 20px" class="panel-heading">
                              Bank Details
                          </header>
                          <div class="panel-body">
                          		<form action="/user/edit/profile/bank" method="POST">
									<fieldset>
										<div class="form-group">
											<label>Bank Name</label>
											<input class="form-control" placeholder="Enter your  bank name" name="bank" value="<%= user.bank %>" type="text">
										</div>
										<div class="form-group">
											<label>Account Name</label>
											<input class="form-control" placeholder="Enter your account name" name="accountnum" value="<%= user.accountnum %>" type="text">
										</div>
										<div class="form-group">
											<label>Account Numbar</label>
											<input class="form-control" placeholder="Enter your account number" name="accountname" value="<%= user.accountname %>" type="text">
										</div>
										<div class="form-group">
		                                    <button type="submit" class="btn btn-primary form-control">Update</button>
		                                </div>
									</fieldset>
								</form>
                          </div>
                      </section>
                  </div>

                   <div class="col-lg-6">
                      <section class="panel">
                          <header style="font-size: 20px" class="panel-heading">
                              Change password
                          </header>
                          <div class="panel-body">
                          			<form action="/user/Changepassword" method="POST">
									<fieldset>
										<div class="form-group">
											<label>Current password</label>
											<input class="form-control" placeholder="Enter your current password" name="cpassword" type="password">
										</div>
										<div class="form-group">
											<label>New password</label>
											<input class="form-control" placeholder="Enter your new password" name="password1" type="password">
										</div>
										<div class="form-group">
											<label>Re-enter password</label>
											<input class="form-control" placeholder="Re-enter your new password" name="password2" type="password">
										</div>
										 <div class="form-group">
		                                    <button type="submit" class="btn btn-primary form-control">Change</button>
		                                </div>
									</fieldset>
								</form>
                          </div>
                      </section>
                  </div>      
               </div><!--/.row-->

               
          </section>
      </section>
      <!--main content end-->
		 
	  				

<% include loginfooter %>